/*============================= VARIABLES =============================*/
:root {
  /* FONT-SIZES */
  --small-fs: 0.75rem; /* 12px */
  --medium-fs: 0.9rem; /* 15px */
  /* COLORS */
  --input-color: rgba(240, 238, 255, 1);
}
/*============================= RESET =============================*/
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
}

h2 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}
/*============================= GENERAL =============================*/
.container {
  width: 73.5rem;
  margin: 0 auto;
}
/* BUTTONS */
.primary-btn {
  display: block;
  background: rgba(29, 155, 240, 1);
  color: white;
  font-size: var(--small-fs);
  border: none;
  padding: 0.75rem 1.4rem 0.75rem 1.4rem;
  border-radius: 2.38rem;
  font-weight: 700;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.primary-btn:hover{
  background: #226bca;
}

.logout-btn{
  display: block;
  background: rgba(29, 155, 240, 1) url(/img/logout-btn.svg) no-repeat;
  background-position: 15% 50%;
  color: white;
  font-size: var(--small-fs);
  border: none;
  padding: 0.75rem 1.2rem 0.75rem 2rem;
  border-radius: 2.38rem;
  font-weight: 700;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 4rem;
}

.logout-btn:hover{
  background: #226bca url(/img/logout-btn.svg) no-repeat;
  background-position: 15% 50%;
  
}
/* USER-ICON */
.user-icon {
  border-radius: 50%;
  display: block;
  background: rgba(196, 196, 196, 1);
  width: 2.3rem;
  height: 2.3rem;
}

.hashtag {
  color: rgba(29, 155, 240, 1);
}
/* INPUT */
.filters-input {
  border-radius: 1.125rem;
  background: var(--input-color);
  color: rgba(133, 133, 133, 1);
  font-size: 0.86rem;
  border: none;
  padding: 0.5rem;
}
/*============================= SVG SPRITES =============================*/

/*============================= HEADER =============================*/
header {
  border-bottom: 1px solid rgba(240, 238, 255, 1);
  height: 4.7rem;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.9rem;
}
/* BREADCRUMBS */
.header__breadcrumbs {
  font-size: var(--small-fs);
  display: flex;
  margin-left: 3rem;
  font-weight: 700;
  gap: 0.76rem;
  color: rgba(0, 0, 0, 1);
  align-items: center;
  justify-content: center;
}
.header__breadcrumbs-icon {
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(0, 0, 0, 0.65);
}

.previous-page {
  color: rgba(0, 0, 0, 0.65);
}

/* LOGO */
.header__logo {
  position: relative;
}

.header__logo-link {
  position: relative;
}

.header__logo-link:hover::before {
  transform: scale(1);
  transition: transform 0.25s;
}

.header__logo-link::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(240, 238, 255);
  position: absolute;

  top: -0.25rem;
  box-shadow: 0 0 6px 6px rgba(240, 238, 255);
  transform: scale(0);
  transition: 0.25s;
}

#header__user {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
  font-size: var(--medium-fs);
  font-weight: 700;
  
}

.header__btn{
  margin-left: auto;
}

/*============================= MAIN =============================*/
.container__flex {
  display: flex;
  width: 73.5rem;
  margin: 0 auto;
  margin-top: 2.1rem;
  justify-content: space-between;
}
/* NEW TWEET */
.main__new-tweet_container {
  width: 51.8rem;
  height: auto;
}

.main__new-tweet {
  width: 100%;
  height: 7.5rem;
  box-sizing: border-box;
  padding: 0 0.9rem;
}

.new-tweet__header {
  display: flex;
  gap: 0.75rem;
}
.tweet__header_input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}
.new-tweet__footer {
  float: right;
  margin: 0.6rem 0;
}
/* TWEETS */
.main__tweet {
  padding: 0.8rem;
  border-bottom: 0.5px solid rgba(240, 238, 255, 1);
  border-top: 0.5px solid rgba(240, 238, 255, 1);
  border-right: 1px solid rgba(240, 238, 255, 1);
  border-left: 1px solid rgba(240, 238, 255, 1);
}

.main__tweet:hover {
  background: rgba(240, 238, 255, 0.25);
}

.tweet__container {
  display: flex;
  gap: 0.9rem;
  width: 100%;
}

.tweet__text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.tweet__text_header {
  display: flex;
  gap: 0.75rem;
  font-size: var(--medium-fs);
}

.text__header_user-name {
  font-weight: 700;
  cursor: pointer;
}

.text__header_user-name:hover {
  text-decoration: underline;
}

.text__header_dot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__header_date {
  color: rgba(83, 100, 113, 1);
}

.text__header_date-time {
  font-weight: 700;
}

.tweet__text_footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  cursor: pointer;
}

.tweet__message_icon {
  cursor: pointer;
  fill: rgba(133, 133, 133, 1);
  height: 1.5rem;
  width: 1.5rem;
}

.tweet__message_count {
  color: rgba(133, 133, 133, 1);
  cursor: pointer;
}

.tweet__text_footer:hover > .tweet__message_icon {
  fill: rgba(172, 205, 255, 1);
}

.tweet__text_footer:hover > .tweet__message_count {
  color: rgba(172, 205, 255, 1);
}

.tweets__load-more-btn {
  display: flex;
  margin-top: 1.3rem;
  justify-content: center;
}

.load-more-btn {
  font-weight: 400;
}

/*============================= FILTERS =============================*/
.filters {
  width: 21.8rem;
  height: auto;
  background: rgba(240, 238, 255, 0.25);
  border-radius: 1.125rem;
  padding: 0.9rem;
}
.filters__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.search-by-author {
  position: relative;
}

.search-author-input {
  background: var(--input-color) url(/img/entypo_triangle-down.svg) no-repeat;
  background-position: 95% 50%;
  width: 100%;
}
.search-by-date-time {
  display: flex;
  flex-direction: column;
  gap: var(--medium-fs);
}
.search-by-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-by-date__from {
  font-size: var(--medium-fs);
}
.search-by-date__from_input {
  font-size: var(--small-fs);
  width: 7.5rem;
  text-align: center;
}
.search-by-date__to {
  font-size: var(--medium-fs);
}
.search-by-date__to_input {
  width: 7.5rem;
  font-size: var(--small-fs);
  text-align: center;
}
.search-by-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-by-time__from {
  font-size: var(--medium-fs);
}
.search-by-time__from_input {
  font-size: var(--small-fs);
  width: 7.5rem;
  text-align: center;
}
.search-by-time__to {
  font-size: var(--medium-fs);
}
.search-by-time__to_input {
  font-size: var(--small-fs);
  width: 7.5rem;
  text-align: center;
}

.search-by-text-tags {
  display: flex;
  flex-direction: column;
  gap: 0.35px;
}

.search-by-text__input {
  background: var(--input-color) url(/img/search.svg) no-repeat;
  background-position: 5% 50%;
  padding-left: 2.6rem;
  width: 100%;
}

.search-by-tags__input {
  background: var(--input-color) url(/img/search.svg) no-repeat;
  background-position: 5% 50%;
  padding-left: 2.6rem;
  width: 100%;
}
.filters__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}
.clear-btn {
  display: block;
  background: rgba(255, 255, 255, 1);
  color: rgba(133, 133, 133, 1);
  font-size: var(--small-fs);
  text-decoration: underline;
  border: 1px solid rgba(133, 133, 133, 1);
  padding: 1rem 1.8rem 1rem 1.8rem;
  border-radius: 3.1rem;
  font-weight: 400;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

/*============================= COMMENTS =============================*/
.main__comments_container {
  width: 60rem;
  margin: 0 auto;
  margin-top: 1.3rem;
}
.main__comments {
  padding: 14px;
  /* border-bottom: 0.5px solid rgba(240, 238, 255, 1); */
  border-top: 0.5px solid rgba(240, 238, 255, 1);
  border-right: 1px solid rgba(240, 238, 255, 1);
  border-left: 1px solid rgba(240, 238, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* ========================COMMENT============================= */

.comments {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment__container {
  padding: 0.5rem;
  display: flex;
  width: fit-content;
  gap: 0.9rem;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 1.25rem;
}

.comment__text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.comment__text_header {
  display: flex;
  gap: 0.75rem;
  font-size: var(--medium-fs);
}

.comment__text_main {
  font-size: 1.125rem;
}

/* ==================YOUR COMMENT===================== */
.your-comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.your-comment__input {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.your-comment__input-field {
  width: 100%;
  font-size: 1.3rem;
  height: 4rem;
}
.your-comment__input_add-btn {
  text-transform: none;
  width: 8rem;
}

/*============================= REGISTRATION/LOG IN =============================*/
.main__registration-form_container {
  display: flex;
}

.main__blue-screen {
  background: url(/img/blue-screen.jpg) no-repeat;
  width: 55rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 4.3rem;
  text-transform: uppercase;
}

.main__registration-form,
.main__log-in-form {
  margin-top: 5.25rem;
  margin-left: 3.7rem;
}
.registration-form,
.log-in-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.registration-form__title,
.log-in-form__title {
  font-size: 4rem;
  font-weight: 700;
}
.registration-form__inputs,
.log-in-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.registration-form__input,
.log-in-form__input {
  color: rgba(133, 133, 133, 1);
  border: 1px solid rgba(83, 100, 113, 1);
  border-radius: 1.125rem;
  padding: 1rem;
}

.registration-form__btn,
.log-in-form__btn {
  border: 1px solid rgba(83, 100, 113, 1);
  border-radius: 3.125rem;
  color: rgba(29, 155, 240, 1);
  background: none;
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.registration-form__btn:hover {
  background: rgba(240, 238, 255, 1);
}
.log-in-form__btn:hover {
  background: rgba(240, 238, 255, 1);
}
.registration-form__footer,
.log-in-form__footer {
  display: flex;
  gap: 0.25rem;
}

.registration-form__footer_secondary-text,
.log-in-form__footer_secondary-text {
  color: rgba(29, 155, 240, 1);
}

/*============================= LOG IN =============================*/

.main__log-in-form_container {
  display: flex;
}

/*============================= ERROR =============================*/

.main__error_container {
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main__error-404 {
  font-size: 4rem;
  font-weight: 700;
}
.main__error-message {
  text-align: center;
}

.main__go-home-btn {
  border: 1px solid rgba(83, 100, 113, 1);
  border-radius: 3.125rem;
  color: rgba(29, 155, 240, 1);
  background: none;
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  width: 22rem;
  cursor: pointer;
}

.main__go-home-btn:hover {
  background: rgba(240, 238, 255, 1);
}

/*============================= FOOTER =============================*/
footer {
  width: 100%;
  color: rgba(133, 133, 133, 1);
  font-size: var(--medium-fs);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  height: 4rem;
}
