:root {
  --small-fs: 0.575rem;
  --medium-fs: 0.71rem;

  --input-color: rgba(240, 238, 255, 1);
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.primary-btn {
  display: block;
  background: rgba(29, 155, 240, 1);
  color: white;
  font-size: var(--small-fs);
  border: none;
  padding: 0.75rem 1.4rem 0.75rem 1.4rem;
  border-radius: 2.38rem;
  font-weight: 700;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.primary-btn:hover {
  background: #226bca;
}
.container {
  width: 56.9rem;
  margin: 0 auto;
}
.user-icon {
  border-radius: 50%;
  display: block;
  background: rgba(196, 196, 196, 1);
  width: 2.3rem;
  height: 2.3rem;
}

.filters-input {
  border-radius: 20px;
  background: var(--input-color);
  color: rgba(133, 133, 133, 1);
  font-size: 0.86rem;
  border: none;
  padding: 0.5rem;
}
/* --------------HEADER----------------------- */
header {
  border-bottom: 1px solid rgba(240, 238, 255, 1);
  height: 3.62rem;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 15px;
}
.header__breadcrumbs {
  font-size: var(--small-fs);
  display: flex;
  margin-left: 3rem;
  font-weight: 700;
  gap: 0.76rem;
  align-items: center;
}

.header__breadcrumbs_home {
  color: rgba(0, 0, 0, 0.65);
}

.header__btn {
  margin-left: auto;
}

.header__logo {
  position: relative;
}

.header__logo-link {
  position: relative;
}

.header__logo-link:hover::before {
  transform: scale(1);
  transition: transform 0.25s;
}

.header__logo-link::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(240, 238, 255);
  position: absolute;
  left: -6px;
  top: -10px;
  box-shadow: 0 0 6px 6px rgba(240, 238, 255);
  transform: scale(0);
  transition: 0.25s;
}

/* ====================MAIN======================= */

main {
  width: 46rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* --------------------TWEET------------------------ */
.main__tweet {
  padding: 14px;
  border-bottom: 0.5px solid rgba(240, 238, 255, 1);
  border-top: 1px solid rgba(240, 238, 255, 1);
  border-right: 1px solid rgba(240, 238, 255, 1);
  border-left: 1px solid rgba(240, 238, 255, 1);
}

.main__tweet:hover {
  background: rgba(240, 238, 255, 0.25);
}

.tweet__container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.tweet__text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.tweet__text_header {
  display: flex;
  gap: 12px;
  font-size: var(--medium-fs);
}

.text__header_user-name {
  font-weight: 700;
  cursor: pointer;
}

.text__header_user-name:hover {
  text-decoration: underline;
}
.text__header_date {
  color: rgba(83, 100, 113, 1);
}

.text__header_date-time {
  font-weight: 700;
}

.tweet__text_footer {
  display: flex;
  align-items: center;
  gap: 0.71rem;
}

.tweet__message_count {
  color: rgba(133, 133, 133, 1);
  cursor: pointer;
}

.tweet__message_icon:hover {
  fill: rgba(172, 205, 255, 1);
  cursor: pointer;
}

.tweet__message_count:hover {
  color: rgba(172, 205, 255, 1);
}

.tweet__message_icon:hover + .tweet__message_count {
  color: rgba(172, 205, 255, 1);
}

.tweet__message_count:hover + .tweet__message_icon {
  fill: rgba(172, 205, 255, 1);
}

/* ====================COMMENTS================== */

.main__comments {
  padding: 14px;
  /* border-bottom: 0.5px solid rgba(240, 238, 255, 1); */
  border-top: 0.5px solid rgba(240, 238, 255, 1);
  border-right: 1px solid rgba(240, 238, 255, 1);
  border-left: 1px solid rgba(240, 238, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* ========================COMMENT============================= */

.comments {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment__container {
  padding: 9px;
  display: flex;
  width: fit-content;
  gap: 15px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 20px;
}

.comment__text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.comment__text_header {
  display: flex;
  gap: 12px;
  font-size: var(--medium-fs);
}

.comment__text_main {
  font-size: 0.85rem;
}

/* ==================YOUR COMMENT===================== */
.your-comment {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.your-comment__input {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.your-comment__input-field {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
}
.your-comment__input_add-btn {
  text-transform: none;
}

/* ----------------------FOOTER----------------------------- */

footer {
  width: 100%;
  color: rgba(133, 133, 133, 1);
  font-size: var(--medium-fs);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}
